@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,900|Raleway:400,400i,900|Arizonia|Playfair+Display:400,900');

$cinzel: 'Cinzel Decorative', cursive;
$raleway: 'Raleway', sans-serif;
$arizonia: 'Arizonia', cursive;
$playfair: 'Playfair Display', serif;

/*
Arizonia
Cookie
Parisienne
Allura
Rochester
Niconne
elsie
Princess Sophia
ruthie

*/
